<%= bootstrap_form_for(@team) do |team| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this Team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message  %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field"-->
  <div class="form-group">
    <%= team.text_field :name %>
  </div>
  <div class="field">
    <%= team.text_field :division %>
  </div>
  <div class="field">
    <%= team.file_field :avatar, label: "Team Logo" %>
  </div>
  <div class="actions">
    <%= team.submit %>
  </div>
<% end %>


