<h1> Teams </h1>
<br>
<hr>

<table class="table table-fluid">

 <thead>
  <tr>
   <th> Team </th>
   <th> Division </th>
   <th colspan = "2"></th> 
  </tr>
 </thead>

 <tbody>
  <% @teams.each do |cur_team| %>
   <tr>
    <td> <%= cur_team.name  %> </td>
    <td> <%= cur_team.division %> </td>
    <td> <%= link_to cur_team, class: 'btn btn-primary btn-xs' do%> 
      Team Details <i class="glyphicon glyphicon-search"></i> 
     <%end %>  </td>
    <td> <%= link_to edit_team_path(cur_team), class: 'btn btn-primary btn-xs' do %>
      Edit <i class="glyphicon glyphicon-pencil"></i>
     <% end %> </td>
    <td> <%= link_to cur_team, method: :delete, data: { confirm: "Are you sure you want to delete the team #{cur_team.name}?" }, class: 'btn btn-danger btn-xs' do%>
      Delete <i class="glyphicon glyphicon-trash"></i>
     <% end %> </td>
   </tr>
  <% end %>
 </tbody>

</table>

<%= link_to new_team_path, class: 'btn btn-primary btn-md' do%> 
    New Team <i class="glyphicon glyphicon-plus"></i> 
     <%end %> 
