<h1>Teams</h1>
<%= link_to new_team_path, class: 'btn btn-default btn-md' do%> New Team <i class="glyphicon glyphicon-plus"></i> <%end %> 
<hr>

<div class = "row">
<% @teams.each do |cur_team| %>

<div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/54/54/full/q9gvs07u72gc9xr3395u6jh68.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3><%= cur_team.name  %></h3>
         <p>Division: <%= cur_team.division %></p>
         <!--<p>Wins: <%= cur_team.division %> Losses: <%= cur_team.division %></p>-->
         
         <p>
            <%= link_to cur_team, class: 'btn btn-primary' do%> 
      View Team <i class="glyphicon glyphicon-search"></i> 
     <%end %> 
            
            <%= link_to cur_team, method: :delete, data: { confirm: "Are you sure you want to delete the team #{cur_team.name}?" }, class: 'btn btn-default' do%>
       <i class="glyphicon glyphicon-trash"></i>
     <% end %>
     <%= link_to edit_team_path(cur_team), class: 'btn btn-default' do %><i class="glyphicon glyphicon-pencil"></i><% end %>
         </p>
         
      </div>
</div>

<% end %>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://content.sportslogos.net/logos/54/54/full/q9gvs07u72gc9xr3395u6jh68.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>New Team</h3>
         <p>Create new team.</p>
         
         <p>
            <%= link_to new_team_path, class: 'btn btn-default btn-md' do%> New Team <i class="glyphicon glyphicon-plus"></i> <%end %>             
         </p>
         
      </div>
   </div>
   
</div>



