<% if flash[:alert] %>
	<div class="alert alert-success" role="alert"><%= flash.alert %></div></p>
<% end %>
<% @team.calcteamstats %>
<div class="center jumbotron">
  <h1><%= @team.name %></h1>
  <hr>
  
  <!--<%= image_tag("LLLogo.png", alt: "Little League logo") %>-->
  <%= image_tag @team.avatar.url(:thumb) %>
  

  <h2>Wins: <%= @team.wins %> Losses: <%= @team.losses %> <br>Division: <%= @team.division %></h2>
  <%= link_to games_path, class: 'btn btn-primary btn-md' do%> Games <i class="glyphicon glyphicon-baseball"></i> <%end %>
  <%= link_to teams_path, class: 'btn btn-primary btn-md' do%> All Teams <i class="glyphicon glyphicon-baseball"></i> <%end %>
  <%= link_to team_players_path(@team), class: 'btn btn-primary btn-md' do%> Player Roster <i class="glyphicon glyphicon-none"></i> <%end %>
  <button class="btn btn-primary btn-md" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Team Stats
  </button>
  <br><br>

<div class="collapse" id="collapseExample">
  <!--<div class="well">-->
    <div class= "panel panel-default">
     <div class="panel-heading">Batting and Baserunning Statistics</div>
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">

          <thead>
            <tr>
              <th style="text-align:center"> H </th>
              <th style="text-align:center"> AB </th>
              <th style="text-align:center"> R </th>
              <th style="text-align:center"> 1B </th>
              <th style="text-align:center"> 2B </th>
              <th style="text-align:center"> 3B </th>
              <th style="text-align:center"> HR </th>
              <th style="text-align:center"> RBI </th>
              <th style="text-align:center"> SB </th>
              <th style="text-align:center"> CS </th>
              <th style="text-align:center"> BB </th>
              <th style="text-align:center"> K </th>
              <th style="text-align:center"> HBP </th>
              <th style="text-align:center"> SH </th>
              <th style="text-align:center"> SF </th>
              <th style="text-align:center"> PA </th>
              <th style="text-align:center"> AVG </th>
              <th style="text-align:center"> OBP </th>
              <th style="text-align:center"> SLG </th>
              <th style="text-align:center"> CS% </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> <%= @team.hits %> </td>
              <td> <%= @team.atbats %> </td>
              <td> <%= @team.runs %> </td>
              <td> <%= @team.singles %> </td>
              <td> <%= @team.doubles %> </td>
              <td> <%= @team.triples %> </td>
              <td> <%= @team.homeRuns %> </td>
              <td> <%= @team.rbis %> </td>
              <td> <%= @team.stolenBases %> </td>
              <td> <%= @team.caughtStealing %> </td>
              <td> <%= @team.walks %> </td>
              <td> <%= @team.strikeouts %> </td>
              <td> <%= @team.hitByPitch %> </td>
              <td> <%= @team.sacrificeHits %> </td>
              <td> <%= @team.sacrificeFlies %> </td>
              <td> <%= @team.plateAppearances %> </td>
              <td> <%= number_with_precision(@team.batavg, precision:3) %> </td>
              <td> <%= number_with_precision(@team.onBasePercentage, precision:3) %> </td>
              <td> <%= number_with_precision(@team.sluggingPercentage, precision:3) %> </td>
              <td> <%= number_to_percentage(@team.caughtStealingPercentage * 100, precision:0) %> </td> 

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

    
    <div class= "panel panel-default">
     <div class="panel-heading">Pitching Statistics</div>
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th style="text-align:center"> W </th>
              <th style="text-align:center"> L </th>
              <th style="text-align:center"> ER </th>
              <th style="text-align:center"> IP </th>
              <th style="text-align:center"> GS </th>
              <th style="text-align:center"> CG </th>
              <th style="text-align:center"> SHO </th>
              <th style="text-align:center"> SV </th>
              <th style="text-align:center"> H </th>
              <th style="text-align:center"> R </th>
              <th style="text-align:center"> HR </th>
              <th style="text-align:center"> BB </th>
              <th style="text-align:center"> K </th>
              <th style="text-align:center"> HBP </th>
              <th style="text-align:center"> BK </th>
              <th style="text-align:center"> WP </th>
              <th style="text-align:center"> ERA </th>
              <th style="text-align:center"> WHIP </th>
              <th style="text-align:center"> H9 </th>
              <th style="text-align:center"> HR9 </th>
              <th style="text-align:center"> BB9 </th>
              <th style="text-align:center"> K9 </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= @team.wins %> </td>
              <td> <%= @team.losses %> </td>
              <td> <%= @team.earnedRuns %> </td>
              <td> <%= @team.inningsPitched %> </td>
              <td> <%= @team.gamesStarted %> </td>
              <td> <%= @team.completeGames %> </td>
              <td> <%= @team.shutouts %> </td>
              <td> <%= @team.saves %> </td>
              <td> <%= @team.p_hits %> </td>
              <td> <%= @team.p_runs %> </td>
              <td> <%= @team.p_homeRuns %> </td>
              <td> <%= @team.p_walks %> </td>
              <td> <%= @team.p_strikeouts %> </td>
              <td> <%= @team.p_hitByPitch %> </td>
              <td> <%= @team.balks %> </td>
              <td> <%= @team.wildPitches %> </td>
              <td> <%= number_with_precision(@team.earnedRunAverage, precision:2) %> </td>
              <td> <%= number_with_precision(@team.whip, precision:3) %> </td>
              <td> <%= number_with_precision(@team.h9, precision:1) %> </td>
              <td> <%= number_with_precision(@team.hr9, precision:1) %> </td>
              <td> <%= number_with_precision(@team.bb9, precision:1) %> </td>
              <td> <%= number_with_precision(@team.k9, precision:1) %> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class= "panel panel-default">
     <div class="panel-heading">Fielding Statistics</div>
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th style="text-align:center"> PO </th>
              <th style="text-align:center"> OF </th>
              <th style="text-align:center"> IF </th>
              <th style="text-align:center"> E </th>
              <th style="text-align:center"> PB </th>
              <th style="text-align:center"> SB </th>
              <th style="text-align:center"> CS </th>
              <th style="text-align:center"> A </th>
              <th style="text-align:center"> CH </th>
              <th style="text-align:center"> FPCT </th>
              <th style="text-align:center"> CS% </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> <%= @team.putouts %> </td>
              <td> <%= @team.outfieldAssists %> </td>
              <td> <%= @team.infieldAssists %> </td>
              <td> <%= @team.f_errors %> </td>
              <td> <%= @team.passedBalls %> </td>
              <td> <%= @team.f_stolenBases %> </td>
              <td> <%= @team.f_caughtStealing %> </td>
              <td> <%= @team.assists %> </td>
              <td> <%= @team.defensiveChances %> </td>
              <td> <%= number_with_precision(@team.fieldingPercentage, precision:3) %> </td>
              <td> <%= number_to_percentage(@team.f_caughtStealingPercentage * 100, precision:0) %> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
    <%= link_to team_players_path(@team), class: 'btn btn-default btn-md' do%> Player Stats <i class="glyphicon glyphicon-none"></i> <%end %>

  <!--</div>-->
</div>
 <% @team.homegames.each do |cur_game| %>
   <%= cur_game.hometeam.name %> <%= cur_game.awayteam.name %>
 <% end %>

</div>






