<p id="notice"><%= notice %></p>

<h1> Team Details </h1>
<br>
<hr>

<p>
 Team Name: <%= @team.name %>
</p>

<p>
 Current Division: <%= @team.division %>
</p>

 


<%= link_to team_players_path(@team), class: 'btn btn-default btn-xs' do%> <i class="glyphicon glyphicon-th-list"></i> Show Team Roster <% end %> |
<%= link_to teams_path, class: 'btn btn-default btn-xs' do%> <i class="glyphicon glyphicon-th-list"></i> All Teams <% end %> 

