

<h1>View Game</h1>
<%= link_to :back, class: 'btn btn-default btn-md' do%> Back <i class="glyphicon glyphicon-none"></i> <%end %>
<%= link_to edit_game_path, class: 'btn btn-default btn-md' do%> Edit <i class="glyphicon glyphicon-pencil"></i> <% end %>
<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
<i class="glyphicon glyphicon-plus"></i>Add Play
</button>
<hr>
<div style ="background-transparent" class="center jumbotron">
<div class ="container">
<div class="row">
  <div class="col-md-3"><br><br><%= image_tag @game.hometeam.avatar.url(:thumb) %> <br> <h3><%= @game.hometeam.name %></h3></div>
  <div class="col-md-6">
      <h2><%= @game.hometeam.name%> vs. <%= @game.awayteam.name %> on 10/12/15</h2>
      <div class="panel panel-primary">
      <div class="panel-heading">Scoreboard</div>
      <div class="table-responsive">
      <table class="table table-striped  table-hover table-bordered">
        <thead>
          <tr>
             <th style="text-align:left"></th>
             <th style="text-align:center"> 1 </th>
             <th style="text-align:center"> 2 </th>
             <th style="text-align:center"> 3 </th>
             <th style="text-align:center"> 4 </th>
             <th style="text-align:center"> 5 </th>
             <th style="text-align:center"> 6 </th>
             <th style="text-align:center"> 7 </th>
             <th style="text-align:center"> 8 </th>
             <th style="text-align:center"> 9 </th>
             <th style="text-align:center"> R </th>
             <th style="text-align:center"> H </th>
             <th style="text-align:center"> E </th>
             <!--<th style="text-align:center"> Edit </th>
             <th style="text-align:center"> Delete </th>_-->

              </th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td style="text-align:left"> <b><%= @game.hometeam.name %></b></td>
              <td style="text-align:center"> <%= @game.home_inningone %> </td>
              <td style="text-align:center"> <%= @game.home_inningtwo %> </td>
              <td style="text-align:center"> <%= @game.home_inningthree %> </td>
              <td style="text-align:center"> <%= @game.home_inningfour %> </td>
              <td style="text-align:center"> <%= @game.home_inningfive %> </td>
              <td style="text-align:center"> <%= @game.home_inningsix %> </td>
              <td style="text-align:center"> <%= @game.home_inningseven %> </td>
              <td style="text-align:center"> <%= @game.home_inningeight %></td>
              <td style="text-align:center"> <%= @game.home_inningnine %> </td>
              <td style="text-align:center"> <b><%= @game.home_runs %> </b></td>
              <td style="text-align:center"> <b><%= @game.home_hits %></b> </td>
              <td style="text-align:center"> <b><%= @game.home_error %></b> </td>

            </tr>
            <tr>
              <td style="text-align:left"> <b><%= @game.awayteam.name %></b></td>
              <td style="text-align:center"> <%= @game.away_inningone %> </td>
              <td style="text-align:center"> <%= @game.away_inningtwo %> </td>
              <td style="text-align:center"> <%= @game.away_inningthree %> </td>
              <td style="text-align:center"> <%= @game.away_inningfour %> </td>
              <td style="text-align:center"> <%= @game.away_inningfive %> </td>
              <td style="text-align:center"> <%= @game.away_inningsix %> </td>
              <td style="text-align:center"> <%= @game.away_inningseven %> </td>
              <td style="text-align:center"> <%= @game.away_inningeight %></td>
              <td style="text-align:center"> <%= @game.away_inningnine %> </td>
              <td style="text-align:center"> <b><%= @game.away_runs %> </b></td>
              <td style="text-align:center"> <b><%= @game.away_hits %></b> </td>
              <td style="text-align:center"> <b><%= @game.away_error %></b> </td>

            </tr>
        </tbody>
      </table>
      </div>
      </div>
      <br><h1><%= @game.home_runs %> - <%= @game.away_runs %></h1>
  </div>
  <div class ="col-md-3"><br><br><%= image_tag @game.awayteam.avatar.url(:thumb) %> <br> <h3><%= @game.awayteam.name %></h3></div>
</div>
</div>
</div>
<!--
<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
<i class="glyphicon glyphicon-plus"></i>Add Play
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Create a New Play</h3>
      </div>
      <div class="modal-body">
        <%= render "plays/play_form" %>
      </div>
    </div>
  </div>
</div>

<h2>
   <div class ="row">
      <div class ="col-md-6">
      <h2><%= @game.hometeam.name %> Play-by-Play</h2>
         <div class="panel-group" id="accordion">
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse1a">Inning 1</a>
                 </h4>
               </div>
               <div id="collapse1a" class="panel-collapse collapse in">
                 <div class="panel-body">
                  <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 1 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                 </div>
                 <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningone %> <%= @game.awayteam.name %>: <%= @game.away_inningone %></div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse2a">Inning 2</a>
                 </h4>
               </div>
               <div id="collapse2a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 2 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                 </div>
                 <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningtwo %> <%= @game.awayteam.name %>: <%= @game.away_inningtwo %></div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse3a">Inning 3</a>
                 </h4>
               </div>
               <div id="collapse3a" class="panel-collapse collapse">
                 <div class="panel-body">
                  <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 3 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningthree %> <%= @game.awayteam.name %>: <%= @game.away_inningthree %></div>
                 </div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse4a">Inning 4</a>
                 </h4>
               </div>
               <div id="collapse4a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 4 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningfour %> <%= @game.awayteam.name %>: <%= @game.away_inningfour %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse5a">Inning 5</a>
                 </h4>
               </div>
               <div id="collapse5a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 5 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningfive %> <%= @game.awayteam.name %>: <%= @game.away_inningfive %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse6a">Inning 6</a>
                 </h4>
               </div>
               <div id="collapse6a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 6 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningsix %> <%= @game.awayteam.name %>: <%= @game.away_inningsix %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse7a">Inning 7</a>
                 </h4>
               </div>
               <div id="collapse7a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 7 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningseven %> <%= @game.awayteam.name %>: <%= @game.away_inningseven %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse8a">Inning 8</a>
                 </h4>
               </div>
               <div id="collapse8a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 8 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningeight %> <%= @game.awayteam.name %>: <%= @game.away_inningeight %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#collapse9a">Inning 9</a>
                 </h4>
               </div>
               <div id="collapse9a" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Home" && cur_play.inning == 9 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningnine %> <%= @game.awayteam.name %>: <%= @game.away_inningnine %></div>
</div>
               </div>
             </div>
         </div>
      </div>
      <div class ="col-md-6">
      <h2><%= @game.awayteam.name %> Play-by-Play</h2>
         <div class="panel-group" id="accordionb">
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse1b">Inning 1</a>
                 </h4>
               </div>
               <div id="collapse1b" class="panel-collapse collapse in">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 1 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningone %> <%= @game.awayteam.name %>: <%= @game.away_inningone %></div>
                 </div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse2b">Inning 2</a>
                 </h4>
               </div>
               <div id="collapse2b" class="panel-collapse collapse">
                 <div class="panel-body">
                  <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 2 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningtwo %> <%= @game.awayteam.name %>: <%= @game.away_inningtwo %></div>
                 </div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse3b">Inning 3</a>
                 </h4>
               </div>
               <div id="collapse3b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 3 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningthree %> <%= @game.awayteam.name %>: <%= @game.away_inningthree %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse4b">Inning 4</a>
                 </h4>
               </div>
               <div id="collapse4b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 4 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningfour %> <%= @game.awayteam.name %>: <%= @game.away_inningfour %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse5b">Inning 5</a>
                 </h4>
               </div>
               <div id="collapse5b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 5 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningfive %> <%= @game.awayteam.name %>: <%= @game.away_inningfive %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse6b">Inning 6</a>
                 </h4>
               </div>
               <div id="collapse6b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 6 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningsix %> <%= @game.awayteam.name %>: <%= @game.away_inningsix %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse7b">Inning 7</a>
                 </h4>
               </div>
               <div id="collapse7b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 7 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningseven %> <%= @game.awayteam.name %>: <%= @game.away_inningseven %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse8b">Inning 8</a>
                 </h4>
               </div>
               <div id="collapse8b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? && cur_play.home_away == "Away" && cur_play.inning == 8 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningeight %> <%= @game.awayteam.name %>: <%= @game.away_inningeight %></div>
</div>
               </div>
             </div>
             <div class="panel panel-primary">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordionb" href="#collapse9b">Inning 9</a>
                 </h4>
               </div>
               <div id="collapse9b" class="panel-collapse collapse">
                 <div class="panel-body">
                    <ul style ="text-align:left" class ="list-group">
                        <% @game.plays.each do |cur_play| %>
                        <% if !cur_play.new_record? %>
                        <% if cur_play.home_away == "Away" %>
                        <% if cur_play.inning == 9 %>
                        <li class ="list-group-item"> 
                           <h5><b><%= cur_play.player_name %></b>
                            <%= cur_play.message %> <br><br><div class = "well well-sm">
                            <b>Ball: <%= cur_play.balls %> Strike: <%= cur_play.strikes %> Out: <%= cur_play.out %></b></div>
                          </h5>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
                        <% end %>
                    </ul>
                    <div class="panel-footer"><%= @game.hometeam.name %>: <%= @game.home_inningone %> <%= @game.awayteam.name %>: <%= @game.away_inningone %></div>
</div>
               </div>
             </div>
         </div>
      </div>

   </div>
</h2>
