<%= form_for([@team, @player]) do |player| %>
 <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this Player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message  %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= player.label :last,"Last Name" %><br>
    <%= player.text_field :last %>
  </div>
  <div class="field">
    <%= player.label :first,"First Name" %><br>
    <%= player.text_field :first %>
  </div>

  <h2>Batting and Baserunning Statistics</h2>

  <div class="field">
    <%= player.label :hits %><br>
    <%= player.text_field :hits %>
  </div>
  <div class="field">
    <%= player.label :atbats,"At Bats" %><br>
    <%= player.text_field :atbats %>
  </div>
  <div class="field">
    <%= player.label :runs,"Runs" %><br>
    <%= player.text_field :runs %>
  </div>
  <div class="field">
    <%= player.label :singles,"Singles" %><br>
    <%= player.text_field :singles %>
  </div>
  <div class="field">
    <%= player.label :doubles,"Doubles" %><br>
    <%= player.text_field :doubles %>
  </div>
  <div class="field">
    <%= player.label :triples,"Triples" %><br>
    <%= player.text_field :triples %>
  </div>
  <div class="field">
    <%= player.label :homeRuns,"Home Runs" %><br>
    <%= player.text_field :homeRuns %>
  </div>
  <div class="field">
    <%= player.label :rbis,"RBI" %><br>
    <%= player.text_field :rbis %>
  </div>
  <div class="field">
    <%= player.label :stolenBases,"Stolen Bases" %><br>
    <%= player.text_field :stolenBases %>
  </div>
  <div class="field">
    <%= player.label :caughtStealing,"Caught Stealing" %><br>
    <%= player.text_field :caughtStealing %>
  </div>
  <div class="field">
    <%= player.label :walks,"Walks" %><br>
    <%= player.text_field :walks %>
  </div>
  <div class="field">
    <%= player.label :strikeouts,"Strikeouts" %><br>
    <%= player.text_field :strikeouts %>
  </div>
  <div class="field">
    <%= player.label :hitByPitch,"Hit By Pitch" %><br>
    <%= player.text_field :hitByPitch %>
  </div>
  <div class="field">
    <%= player.label :sacrificeHits,"Sacrifice Hits" %><br>
    <%= player.text_field :sacrificeHits %>
  </div>
  <div class="field">
    <%= player.label :sacrificeFlies,"Sacrifice Flies" %><br>
    <%= player.text_field :sacrificeFlies %>
  </div>

  <h2>Fielding Statistics</h2>

  </div>
  <div class="field">
    <%= player.label :putouts,"Putouts" %><br>
    <%= player.text_field :putouts %>
  </div>
  <div class="field">
    <%= player.label :outfieldAssists,"Outfield Assists" %><br>
    <%= player.text_field :outfieldAssists %>
  </div>
  <div class="field">
    <%= player.label :infieldAssists,"Infield Assists" %><br>
    <%= player.text_field :infieldAssists %>
  </div>
  <div class="field">
    <%= player.label :f_errors,"Errors" %><br>
    <%= player.text_field :f_errors %>
  </div>
  <div class="field">
    <%= player.label :passedBalls,"Passed Balls" %><br>
    <%= player.text_field :passedBalls %>
  </div>
  <div class="field">
    <%= player.label :f_stolenBases,"Stolen Bases" %><br>
    <%= player.text_field :f_stolenBases %>
  </div>
  <div class="field">
    <%= player.label :f_caughtStealing,"Caught Stealing" %><br>
    <%= player.text_field :f_caughtStealing %>
  </div>

  <h2>Pitching Statistics</h2>

  </div>
  <div class="field">
    <%= player.label :wins,"Wins" %><br>
    <%= player.text_field :wins %>
  </div>
  <div class="field">
    <%= player.label :losses,"Losses" %><br>
    <%= player.text_field :losses %>
  </div>
  <div class="field">
    <%= player.label :earnedRuns,"Earned Runs" %><br>
    <%= player.text_field :earnedRuns %>
  </div>
  <div class="field">
    <%= player.label :inningsPitched,"Innings Pitched" %><br>
    <%= player.text_field :inningsPitched %>
  </div>
  <div class="field">
    <%= player.label :gamesStarted,"Games Started" %><br>
    <%= player.text_field :gamesStarted %>
  </div>
  <div class="field">
    <%= player.label :completeGames,"Complete Games" %><br>
    <%= player.text_field :completeGames %>
  </div>
  <div class="field">
    <%= player.label :shutouts,"Shutouts" %><br>
    <%= player.text_field :shutouts %>
  </div>
  <div class="field">
    <%= player.label :saves,"Saves" %><br>
    <%= player.text_field :saves %>
  </div>
  <div class="field">
    <%= player.label :p_hits,"Hits" %><br>
    <%= player.text_field :p_hits %>
  </div>
  <div class="field">
    <%= player.label :p_runs,"Runs" %><br>
    <%= player.text_field :p_runs %>
  </div>
  <div class="field">
    <%= player.label :p_homeRuns,"Home Runs" %><br>
    <%= player.text_field :p_homeRuns %>
  </div>
  <div class="field">
    <%= player.label :p_walks,"Walks" %><br>
    <%= player.text_field :p_walks %>
  </div>
  <div class="field">
    <%= player.label :p_strikeouts,"Strikeouts" %><br>
    <%= player.text_field :p_strikeouts %>
  </div>
  <div class="field">
    <%= player.label :p_hitByPitch,"Hit By Pitch" %><br>
    <%= player.text_field :p_hitByPitch %>
  </div>
  <div class="field">
    <%= player.label :balks,"Balks" %><br>
    <%= player.text_field :balks %>
  </div>
  <div class="field">
    <%= player.label :wildPitches,"Wild Pitches" %><br>
    <%= player.text_field :wildPitches %>
  </div>

  <div class="actions">
    <%= player.submit %>
  </div>

<% end %>


