
<p id="notice"><%= notice %></p>

<h1> Player Roster for Team: <%= @team.name %> </h1>
<br>
<hr>

<table>
  <thead>
    <tr>
       <th> Last Name </th>
       <th> First Name </th>
       <th> Hits (H) </th>
       <th> Assists (A) </th>
       <th> At Bats (AB) </th>
       <th> Batting Average (AVG) </th>
       <th colspan="6 " > </th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |cur_player| %>
      <tr>
        <td> <%= cur_player.last %> </td>
        <td> <%= cur_player.first %> </td>
        <td> <%= cur_player.hits %> </td>
        <td> <%= cur_player.assists %> </td>
        <td> <%= cur_player.atbats %> </td>
        <td> <%= cur_player.batavg %> </td>

        <td> <% if logged_in? %> <%= link_to edit_player_path(cur_player), class: 'btn btn-success btn-xs' do%><i class="glyphicon glyphicon-search"></i> Edit <% end %> <% end %> </td>

        <td> <% if logged_in? %> <%= link_to cur_player, method: :delete, data: { confirm: "Are you sure you want to delete #{cur_player.first} #{cur_player.last} from the #{@team.name} Team roster?" }, class: 'btn btn-danger btn-xs' do %> <i class="glyphicon glyphicon-trash"></i> Delete <% end %> <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %> <%= link_to new_team_player_path, class: 'btn btn-default btn-xs' do%> <i class="glyphicon glyphicon-pencil"></i> Add a Player <% end %> <% end %> |

<% if logged_in? %> <%= link_to team_path(@team), class: 'btn btn-default btn-xs' do %> <i class="glyphicon glyphicon-home"></i> Back to Homepage <% end %> <% end %>
<!--link_to "Back to #{@team.name}'s Homepage", team_path(@team) -->



