<!DOCTYPE html>
<html>
<head>
  <title>Llstats</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "LL Stats", root_url, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_url %></li>
            <li><%= link_to "Teams",   teams_path %></li>
            <li><%= link_to "Games", games_path %> </li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <!--footer-->
      <footer class="footer">
        <small>
          The Little League Stat Tracker &trade;</a>
          by <a href="http://www.BigLeagueCoderz.com/">Big League Coderz</a>
        </small>
        <nav>
          <ul>
            <li><%= link_to "About",   static_pages_help_path %></li>
            <li><%= link_to "Contact", '#' %></li>
          </ul>
        </nav>
      </footer>

    </div>
  </body>
</html>
