<!DOCTYPE html>
<html>
<head>
  <title>Llstats</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to root_url, id: "logo" do %>LL Stats<% end %>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "Home",   root_url %></li>
            <li><%= link_to "Teams",   teams_path %></li>
            <li><%= link_to "Games", games_path %> </li>
            <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text pull-right">

            <% if logged_in? %>
               <i class="glyphicon glyphicon-user"></i>
               <li><%= link_to "Users", users_path %></li>
               <li class="dropdown">
                  <a href="$" class="dropdown-toggle" data-toggle="dropdown">
                    Account<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Profile', current_user, :class => 'navbar-link' %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                       <%= link_to "Log out", logout_path, method: :delete, :class => 'navbar-link'  %>
                    </li>
                  </ul>
                </li>
             <% else %>
                <i class="glyphicon glyphicon-log-in"></i> <%= link_to "Log in", login_path, :class => 'navbar-link'  %>
                <!-- link_to "Log in", login_path, method: "get" -->
           <% end %>
          </ul>


        </nav>
      </div>
    </header>

    <div class="container">
        <!-- flash.each do |message_type, message| %>
           %= content_tag (:div, content_tag(:p, "alert alert-#{message_type}")) %>
           %= content_tag(:div, message, class: "alert alert-#{message_type}") %>
         end %>-->

        <!--% flash.each do |message_type, message| %>
           %= content_tag(:div, message, class: "alert alert-#{message_type}") %>-
        % end %>-->

      <% if !notice && !alert %>
      <% flash.each do |message_type, message| %>
        <!--<div class="alert alert-<= "#{message_type}" %>" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times; %= message %> </span></button>-->
          <p class = "alert alert-<%= "#{message_type}" %>">  <%= message %> </p>
        <!--</div>-->
      <% end %>
      <% end %>
      <!--% if warning %>
        <p class="alert alert-warning">%= warning %></p>
      % end %>
      % if info %>
        <p class="alert alert-info">%= info %></p>
      % end %>-->

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
      <!--footer-->
      <footer class="footer">
        <small>
          The Little League Stat Tracker &trade;</a>
          by <a href="http://www.BigLeagueCoderz.com/">Big League Coderz</a>
        </small>
        <nav>
          <ul>
            <li><%= link_to "About",   static_pages_help_path %></li>
            <li><%= link_to "Contact", '#' %></li>
          </ul>
        </nav>
      </footer>

    </div>
  </body>
</html>
